@media only screen and (min-width: 992px) {
  hr {
    border: none;
    border-top: 4px dashed var(--color-hueso);
    height: 1px;
    width: 30%;
    margin: 1rem;
  }

  .destacado {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }

  .destacado__titulo {
    color: var(--color-violeta-claro);
    font-family: var(--fuente-titulo);
    margin: 0 3rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  .destacado__titulo h2 {
    margin-top: 3rem;
  }

  .destacado__titulo a {
    margin-top: 4rem;
    text-decoration: none;
  }

  .destacado__item {
    margin: 0 1rem;
    background-color: var(--color-violeta-claro);
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
  }

  .destacado__item img {
    width: 20vh;
    height: 20vh;
    border-radius: 15px;
  }
  .destacado__item h2 {
    color: var(--color-violeta-oscuro);
    font-size: 1rem;
  }

  .destacado__item p {
    color: var(--color-hueso);
    margin: 0.3rem 0;
  }

  .destacado__item a {
    text-decoration: none;
    background-color: var(--color-coral);
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
  }
}
